<mat-card class="example-card">
    <mat-card-content class="header">
        <span>
         <!-- <button mat-fab color="success" aria-label="Example icon button with a home icon">
                <mat-icon class="homebtn">home</mat-icon>
              </button>  -->
              <a class="home">Home</a>
        </span>
        <span class="float-right" fxLayoutAlign="flex-end">
            <a mat-button routerLink="/register">Sign Up</a>
            <a mat-button routerLink="/login">Sign In</a>
        </span>
    </mat-card-content>
    <!-- <app-registration></app-registration>
    <app-login></app-login> -->
    
</mat-card>
<router-outlet></router-outlet>