

.login-card {
  padding: 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.float-left {
  float: left;
}

.header1 {
  background-color: rgb(44, 155, 103);
  color: whitesmoke;
  font-size: medium;
  margin-top: 0px;
  padding: 10px;
}
.login-form {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 70%;
}
