<mat-card class="reg-card" layout-align="center center">
  <mat-card-content class="header2">
    <h2>Sign Up</h2>
  </mat-card-content>
  <mat-card-content>

    <form class="reg-form">
      <mat-form-field class="example-full-width">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User ID">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email ID</mat-label>
        <input matInput placeholder="Email ID">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>address</mat-label>
        <textarea matInput placeholder="address"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button class="float-left" color="success">sign up</button>
    </form>
   <mat-card-actions>
 </mat-card-actions>
</mat-card-content>
</mat-card>